@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(190, 190, 190);
}

#container_header {
    width: 100%;
    height: 15%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 5vh;
}

#container-username {
    display: flex;
}

#mesas_main {
    width: 100%;
    height: 80%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mapaRestaurante_contenedor {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
#mapa {
    height: 75vh;
}

/* Divs para espaciado */
#divGrande {
    width: 146.9vh;
    height: 75vh;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#divEntrada {
    width: 13.2%;
    height: 8%;
}
#divEntrada:hover {
    background-color: rgba(0,0,0,0.2);
}
#divSalas {
    width: 100%;
    height: 65.4%;
    display: flex;
}
#divTerraza3 {
    width: 62.4%;
    height: 100%;
}
#divTerraza3:hover {
    background-color: rgba(0,0,0,0.2);
}
#divAbajo {
    width: 72.9%;
    height: 26.6%;
    display: flex;
}
#divTerrazasLados {
    width: 100%;
    height: 59.3%;
}
#divTerrazasLados:hover {
    background-color: rgba(0,0,0,0.2);
}
#divLados {
    width: 13.5%;
    height: 100%;
}
#divSala1 {
    width: 36.5%;
    height: 100%;
    display: flex;
}
#divSala1:hover {
    background-color: rgba(0,0,0,0.2);
}
#divSala2 {
    width: 36.5%;
    height: 100%;
    display: flex;
}
#divSala2:hover {
    background-color: rgba(0,0,0,0.2);
}
#divSalasPriv {
    width: 37.4%;
    height: 100%;
}
#divSalaPriv {
    width: 100%;
    height: 40.7%;
}
#divSalaPriv:hover {
    background-color: rgba(0,0,0,0.2);
}
#divTerrazaPriv {
    height: 100%;
    width: 37.4%;
}
#divSalaPrivAbajo {
    width: 18.8%;
    height: 100%;
}
#divSalaPrivAbajo:hover {
    background-color: rgba(0,0,0,0.2);
}
.comunSalasMesas {
    padding: 4%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comunSalasMesa {
    padding: 4%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.terrazasVerticales {
    padding: 4%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content:end;
    flex-direction: column;
}
.salaGrandeDividida {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#mesasCentro {
    margin: 4px;
}

/* ------------------ */

/* mesas */
.mesa {
    height: 12vh;
}
.mesa:hover {
    transform: scale(1.2);
}
/* ------ */

#icon_profile_header, #container_header {
    display: flex;
    align-items: center;
    text-align: center;
}

#icon_profile {
    width: 6vw;
    margin-left: 1vw;
}

#p_username_profile, .span_subtitle, .btn_custom_logOut {
    color: rgb(177, 8, 8);;
}

#p_username_profile {
    font-size: 5vh;
    margin: 0;
}

#username_profile_header {
    margin-left: 1vw;
}

#container_logOut_header {
    margin-right: 1vw;
}

#container_title_header {
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
}

.btn_custom_logOut {
    border: solid 1px rgb(177, 8, 8);
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Esta línea agrega la sombra */
}

.btn_custom_logOut:hover {
    background-color: rgb(177, 8, 8);
    border: solid 1px rgb(177, 8, 8);
}

#title_header {
    all: unset;
    font-size: 7vh;
    color: rgb(177, 8, 8);
    height: 9vh;
    
}