@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#container_header {
    width: 100%;
    height: 15%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 5vh;
}

#container-username {
    display: flex;
}

#mesas_main {
    width: 100%;
    height: 75%;
    background-color: rgb(255, 255, 255);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ESTILOS SALAS */
.titulosSalas {
    font-size: small;
    font-weight: 200;
    color: white;
    margin-bottom: 0;
}
.divTitulo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.divTituloSala{
    width: 65%;
    display: flex;
    justify-content: center;
}
#privTitulo {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 35%;
}

#mapa_restaurante {
    background-color: transparent;
    width: 750px;
    height: 450px;
}

#seccionGrande {
    width: 100%;
    height: 75%;
    display: flex;
    background-color: transparent;
}   

#salaTerraza1 {
    background-color: #855d62;
    width: 13%;
    height: 65%;
    display: flex;
    flex-direction: column;
}
#salasInteriores {
    width: 74%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#salaGrande1 {
    width: 50%;
    height: 100%;
    background-color: #867476;
    display: flex;
    flex-direction: column;
    border-right: solid 0.5px #6d484d;
}
#salaPrivada1 {
    width: 35%;
    height: 100%;
    background-color: #5F282E;
    display: flex;
    flex-direction: column;
}

#salaPrivada2 {
    width: 35%;
    height: 35%;
    background-color: #5F282E;
    margin-bottom: 0;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
#salaGrande2 {
    width: 50%;
    height: 100%;
    background-color: #867476;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-left: solid 0.5px #6d484d;
}
#salaPrivada3 {
    width: 35%;
    height: 100%;
    background-color: #5F282E;
    display: flex;
    flex-direction: column;
}
#salaPrivada4 {
    width: 35%;
    height: 35%;
    background-color: #5F282E;
    margin-bottom: 0;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
#salaTerraza2 {
    background-color: #855d62;
    width: 13%;
    height: 65%;
    display: flex;
    flex-direction: column;
}
#salaTerraza3 {
    background-color: #855d62;
    width: 48.05%;
    height: 25%;
    margin: auto;
}
#cocina {
    position: absolute;
    background-color: rgb(104, 104, 104);
    width: 100px;
    height: 170px;
}
#terraza1Area {
    background-color: red;
    width: 100%;
    height: 90%;
}
#terraza2Area {
    background-color: red;
    width: 100%;
    height: 90%;
}
#priv1Area {
    background-color: red;
    width: 100%;
    height: 82%;
}
#priv2Area {
    background-color: red;
    width: 100%;
    height: 82%;
}
#priv3Area {
    background-color: red;
    width: 100%;
    height: 82%;
}
#priv4Area {
    background-color: red;
    width: 100%;
    height: 82%;
}

#icon_profile_header, #container_header {
    display: flex;
    align-items: center;
    text-align: center;
}

#icon_profile {
    width: 6vw;
    margin-left: 1vw;
}

#p_username_profile, .span_subtitle, .btn_custom_logOut {
    color: rgb(177, 8, 8);;
}

#p_username_profile {
    font-size: 5vh;
    margin: 0;
}

#username_profile_header {
    margin-left: 1vw;
}

#container_logOut_header {
    margin-right: 1vw;
}

#container_title_header {
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
}

.btn_custom_logOut {
    border: solid 1px rgb(177, 8, 8);
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Esta línea agrega la sombra */
}

.btn_custom_logOut:hover {
    background-color: rgb(177, 8, 8);
    border: solid 1px rgb(177, 8, 8);
}

#title_header {
    all: unset;
    font-size: 7vh;
    color: rgb(177, 8, 8);
    height: 9vh;
    
}